<section class="TodoSection">
      <div class="TodoSectionTitle">
         <p class="TodoSectionTitle-text"><%= section_title %> </h2>
         <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count%>/<%= todos.count %> </p>
      </div>
                                <ul>
                                <% todos.each do |todo| %>
                                    <li class="TodoItem"> 
                                        <div class="TodoItem-container">
                                       <%= form_with(url: "/todos/#{todo.id}" , method: "put") do %>
                                            <input class="TodoItem-checkbox" name="completed" type="checkbox" <%= todo.completed ? "checked" : "" %> 
                                            onclick="this.form.submit()" >
                                            
                                        <% end %>
                                            
                                            <%= todo.todo_text %>
                                            <% if show_due_date %>
                                               <%= todo.due_date %>
                                            <% end %>
                                            <a href="javascript:void(0)" class="TodoItem-delete">
                                            <%= form_with(url: "/todos/#{todo.id}" , method: "delete") do %>
                                            <input type="image" src="https://pic.onlinewebfonts.com/svg/img_446501.png" width="12px" class="TodoItem-delete">
                                            <% end %>
                                            </a>
                                        </div>
                                    </li>
                                    <% end %>
                                </ul>
</section>